{{ define "header" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HakikaRide</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="frontend/static/combined.css">
    <link rel="stylesheet" href="frontend/static/auth.css">
    <link rel="stylesheet" href="frontend/static/boarding.css">
    <link rel="stylesheet" href="frontend/static/errorPage.css">
    <link rel="stylesheet" href="frontend/static/home.css">
    <link rel="stylesheet" href="frontend/static/parentdashboard.css">
    <link rel="stylesheet" href="frontend/static/schooldashboard.css">
    <link rel="stylesheet" href="frontend/static/style.css">
</head>
{{ end }}